body {
	margin: 0%;
	background-color: whitesmoke;
}



#titre label {
	float: left;
	margin-left: 10%;
	font-size: 50px;
	font-family: 'Bungee Shade', cursive;
	text-shadow: 1px 1.5px 1px yellow;
}
#titre { margin-left: -10%;  }

#titre .titr-ul {
	margin-top: 2%; margin-left: 31%;
	font-size: 40px;
}
#titre .titr-ul {
	margin-top: 2%; margin-left: 30%;
}
#titre .titr-li {
	float: left;
	overflow: hidden;
	padding: 0.5%; margin-top: 1%;
	font-size: 18px;
}
#titre .titr-li a {
	color: black;
	text-decoration: none;
}
#titre .titr-li a:hover {
	animation: nva 0.9s infinite; 
}
#titre .titr-li:hover {
	border-top-left-radius: 8px; border-bottom-right-radius: 8px;
	animation: bckg 0.9s infinite;
}

@keyframes bckg {
	from { background-color: black; }
	to { background-color: lightgray; }
}
@keyframes nva {
	from { color: lightgray; }
	to { color: black; }
}



#imgs {
	margin-left: 1.5%;
	margin-left: 1%;
}
#imgs img { display: none; }

.dv-ul0 {
	float: center;
}
.ul0-li {
	overflow: hidden;
	margin-left: -80%;
}
.ul0-li a{
	font-size: 20px;
	text-decoration: none;
}



.ul1-li0 {
	width: 100%;
	float: left;
	margin-left: -29%;
	font-size: 30px;
	overflow: hidden;
}

select {
	font-size: 25px;
	margin-left: -60%;
	margin-top: 1%;
	text-align: center;
}
.ul1-li1 {
	overflow: hidden;
	padding: 0.5%;
	font-size: 25px;
}
#imgs1 {
	display: block;
	width: 100%;
	background-color: ghostwhite;
	margin-bottom: 20%;
}
#imgs1 li { margin-left: 3.5%; }

#imgs1 legend {
	font-size: 25px;
	color: black;
	text-shadow: 0.5px 1.2px 0.9px cyan;
}
#imgs1 li {
	overflow: hidden;
	float: left;
}
#imgs1 img { padding: 2%; }
.autopic1:hover, .autopic2:hover, .autopic3:hover, .autopic4:hover { border: solid 1px red; }
#fset {
	margin-top: 20%; margin-left: 2%;
}
#fset div label{
	float: left;
	width: 100%;
	text-align: left;
	font-size: 20px;
}
#fset .stark { float: left; font-size: 20px; }
#fset div label b { 
	font-family: 'Bungee Shade', cursive; text-decoration: underline; 
	text-shadow: 1px 1.5px 1px yellow;
}

#fset div label b { font-family: 'Bungee Shade', cursive; }
#fset p {
	text-align: left;
	font-size: 15px;
	margin-left: 10%; margin-right: 0%;
}
.stream { font-size: 20px; }
#cdivBase {
	margin: 0%;
	padding: 0%;
	display: flex;
}
#cdivBase .cdiv {
	border: solid 1px;
	padding: 1%; 
    margin-right: 0.5%;
    margin-left: 1%;
}
#cdivBase .cdiv p{
	margin-left: -5%;
}
#cdivBase .cdiv1 {
	border: solid 1px;
	padding: 1%;
	margin-right: 0.5%;
}
#cdivBase .cdiv2 {
	border: solid 1px;
	padding: 1%;
	margin-right: 0.5%; 
}

#logistique {
	width: 100%; background-color: #FFFFF0;
	padding: 2%;
}
#logi_info p {
	text-align: left;
	padding-left: 20%; padding-right: 20%;
}
#logi2 { text-align: left; padding-left: 20%; padding-right: 20%; }

#daten {
	background-color: lightgray;
	width: 100%; height: 22px;
	font-size: 16px;
}
.fries { margin-right: 70%; }
#daten .da-ul { margin-right: 10%; }
#daten .da-ul a { color: black; text-shadow: 0.6px 1.2px 0.4px yellow; text-decoration: none; }
#daten li {
	float: right; padding: 2%;
	margin-top: -4.5%;
	overflow: hidden;
}

#kontakt li { overflow: hidden; float: left; padding-left: 2.5%; }
#center-info {

	margin-bottom: 0.5%; margin-top: -2%;
	width: 100%; height: 22px;
	padding-bottom: 1%;
	background-color: black;
}

.powered {
	font-size: 16px;
	margin-left: 16%; margin-right: -30%;
	color: white;
}
.powered a { color: red;  font-family: 'Playfair Display', serif; }


#import-exp { width: 100%; height: 740px; margin-bottom: -2%; background-color: lightgrey; }
#import-exp .imp1, .imp2 { filter: drop-shadow(1px 3px 1px rgba(0,0,0,1.9)); }
#import-exp li {
	float: left;
	padding: 1%;
	overflow: hidden;
}